@import "./theme.css";

/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#eef5ef;
    color:var(--text);
    font-family:Arial, Helvetica, sans-serif;
}

/* Layout */

.app-layout{
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

/* Home has no header now */

.app-header{
    background:white;
    padding:18px 20px;
    border-bottom:1px solid #dbe7dc;
}

.app-header h1{
    font-size:1.5rem;
    font-weight:700;
}

/* Content */

.app-content{
    flex:1;
    padding:16px;
    padding-bottom:120px;
}

/* Floating Navigation */

.bottom-nav{

    position:fixed;

    left:16px;
    right:16px;
    bottom:16px;

    height:72px;

    background:white;

    border-radius:22px;

    display:flex;

    box-shadow:
    0 12px 35px rgba(0,0,0,.18);

    z-index:999;
}

.bottom-nav a{

    flex:1;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-decoration:none;

    color:#7b8681;

    transition:.25s;

    font-size:.72rem;

    font-weight:600;

    border-radius:22px;
}

.bottom-nav a:hover{

    background:#f4faf4;

}

.bottom-nav a.active{

    color:#39a64b;

}

.nav-icon{

    display:flex;
    justify-content:center;
    align-items:center;

    margin-bottom:5px;

}

.nav-icon svg{

    font-size:24px;

}

.bottom-nav a.active .nav-icon{

    transform:translateY(-2px);

}

.bottom-nav a span{

    font-size:.72rem;

}